<!-- Footer -->
<footer class="footer-chulapa text-left mt-0 pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 style="color: #fff;">About SoBigData IP</h3>
                <p>SoBigData.eu has received funding from the European Union's HORIZON-INFRA-2021-DEV-02 program under grant agreement No 101079043.</p>
            </div>
             <div class="col-md-4">
                <h3 style="color: #fff;">Contacts</h3>
                <p>CNR via G. Moruzzi 1<br>56124 Pisa, Italy</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <hr>
                <p>Website realized by <strong>Daniele Fadda</strong></p>
            </div>
            <div class="col-md-4">
                <img src="{{ '/assets/images/Logo_SoBigData MASTER.png' | relative_url }}" alt="SoBigData RI Logo" style="margin-bottom: 20px;">
                {%- if site.footer.links -%}
                <div role="navigation" class="d-flex flex-wrap justify-content-left mb-3">
                    {%- for social in site.footer.links -%}
                    {%- assign urlslice = social.url | slice: 0,4 -%}
                    {%- if urlslice == "http" -%}
                    <a href="{{ social.url | relative_url }}"
                       title="footer{{ social.label }}"
                       class="chulapa-footer-sociallink lead"
                       target="_blank">
                        {%- elsif social.url contains "@" -%}
                        <a href="mailto:{{- social.url -}}?subject={{ site.title | append: ' web contact' | strip_html | uri_escape }}"
                           title="footer{{ social.label }}"
                           class="chulapa-footer-sociallink lead" target="_blank">
                            {%- else -%}
                            <a href="{{ social.url | relative_url }}"
                               title="footer{{ social.label }}"
                               class="chulapa-footer-sociallink lead" target="_blank">
                                {%- endif -%}
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="{{ social.icon }} fa-stack-1x fa-inverse"></i>
                                </span><span class="sr-only">{{ social.label }}</span>
                            </a>
                            {%- endfor -%}
                </div>
                {%- endif -%}
                <p class="mb-0">
                    {%- if site.footer.copyright -%}
                    &copy; {{ site.footer.copyright }}
                    {%- endif -%}
                </p>
            </div>
           
        </div>
    </div>
</footer>
<!-- Footer -->
