<section id="event-section">
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-4" >
                <h3 class="font-weight-bold">Evento</h3>
                <div class="mb-4">
                    <h5 class="font-weight-bold">14 luglio</h5> (16:00 - 17:00)
                    <p><a href="https://teams.microsoft.com/meet/317456101187289?p=l8IEdoOqZwdnRC18CL" target="_blank">Link al meeting</a>  </p>
                </div>

                <div class="mb-4">
                    <h5 class="font-weight-bold">22 settembre</h5> (16:00 - 17:00)
                    <p><a href="https://teams.microsoft.com/meet/32273784620675?p=nRXTyfl5G8psvSRucx" target="_blank">Link al meeting</a>  </p>
                </div>

                <div class="mb-4">
                    <h5 class="font-weight-bold">13 ottobre</h5> (16:00 - 17:00)
                    <p><a href="https://teams.microsoft.com/meet/322806022670622?p=GFgeKM9iWWANR8f5UB" target="_blank">Link al meeting</a>  </p>
                </div>
            </div>
            <div class="col-md-8" style="border-left: 1px solid">
                <h2>Online Open Day Master 2026/2027</h2>
  
                <p>Unisciti a noi per il nostro prossimo Open Day virtuale. Un'occasione per conoscere da vicino l'offerta formativa e orientare la tua scelta accademica e professionale.</p>
                
                <h3>Cosa ti aspetta durante l'evento:</h3>
                <ul>
                    <li><strong>Presentazione del Master:</strong> Scopri in dettaglio il programma didattico, l'approccio metodologico e gli sbocchi professionali.</li>
                    <li><strong>Confronto con la Direzione:</strong> Incontra il Direttore del Master per approfondire la visione e gli obiettivi del percorso di studi.</li>
                    <li><strong>Sessione Q&A Live:</strong> Uno spazio interattivo a te dedicato. Fai le tue domande in tempo reale e chiarisci ogni dubbio su requisiti di ammissione, didattica, laboratori e tirocini.</li>
                </ul>
            </div>
        </div>
    </div>               
</section>
