---
layout: default-full
---

<main class="container-lg pb-3 flex-fill">
    <div class="row pt-4">
        <div class="col-12">
            <h1 class="mb-4">{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 order-2 order-lg-1">
            <div class="mb-4">
                {{ content }}
            </div>

                <!-- Info Alert Section -->
                <section class="info-alert-section">
                        <div class="alert alert-primary mb-0">
                            <div class="row">
                                <div class="col-lg-12 mx-auto">
                                    <h3 class="alert-heading">Hai ancora dubbi e domande?</h3>
                                    <div>
                                    <!-- Due pulsanti, uno per gli open day e uno per il chatbot, con link al chatbot -->
                                    <a href="/index.html" class="btn btn-primary mr-2 mb-2">Partecipa agli Open Day il 14 luglio, il 22 settembre e il 13 ottobre</a>
                                    <a href="https://chatgpt.com/g/g-6a045cabf44081919efdd0256a3492b4-sibylla-master" target="_blank" class="btn btn-secondary mb-2">Chiedi al nostro assistente virtuale</a>  

                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

        </div>

        <div class="col-lg-2 order-1 order-lg-2 mb-4 mb-lg-0">
            <div class="sidebar-info bg-light p-2 rounded sticky-top" style="top: 60px; z-index: 0; text-align: center;">
                <h5 class="mb-3">- EDIZIONI -</h5>
                <nav class="nav flex-column">
                    {% for iscrizione in site.data.iscrizioni %}
                    <a class="nav-link {% if iscrizione.url == page.url %}active font-weight-bold{% endif %}" href="../../{{ iscrizione.url | remove_first: '/' }}">
                        {{ iscrizione.label }}
                    </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
</main>
