---
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Redirect</title>
    {% if page.redirect_to %}
        {% assign redirect_url = page.redirect_to %}
    {% else %}
        {% if page.data_type == 'docenti' %}
            {% assign latest_edition = site.data.edizioni[0] %}
            {% assign redirect_url = '/docenti/' | append: latest_edition.year | append: '/' %}
        {% elsif page.data_type == 'studenti' %}
            {% assign latest_edition = site.data.edizioni[0] %}
            {% assign redirect_url = '/studenti/' | append: latest_edition.year | append: '/' %}
        {% elsif page.data_type == 'direttivo' %}
            {% assign latest_edition = site.data.edizioni[0] %}
            {% assign redirect_url = '/direttivo/' | append: latest_edition.year | append: '/' %}
        {% elsif page.data_type == 'didattica' %}
            {% assign latest_edition = site.data.edizioni[0] %}
            {% assign redirect_url = '/didattica/' | append: latest_edition.year | append: '.html' %}
        {% elsif page.data_type == 'iscrizione' %}
            {% assign latest_iscrizione = site.data.iscrizioni[0] %}
            {% assign redirect_url = latest_iscrizione.url %}
        {% endif %}
    {% endif %}

    {% assign is_external_redirect = false %}
    {% if redirect_url contains '://' or redirect_url contains 'mailto:' or redirect_url contains 'tel:' %}
        {% assign is_external_redirect = true %}
    {% endif %}

    {% assign fallback_redirect_url = redirect_url %}
    {% unless is_external_redirect %}
        {% assign target_no_leading_slash = redirect_url | remove_first: '/' %}
        {% assign page_depth = 0 %}
        {% assign page_segments = page.url | split: '/' %}
        {% for segment in page_segments %}
            {% if segment != '' %}
                {% assign page_depth = page_depth | plus: 1 %}
            {% endif %}
        {% endfor %}

        {% assign up_path = '' %}
        {% if page_depth > 0 %}
            {% for i in (1..page_depth) %}
                {% assign up_path = up_path | append: '../' %}
            {% endfor %}
        {% endif %}

        {% assign fallback_redirect_url = up_path | append: target_no_leading_slash %}
    {% endunless %}

    <meta http-equiv="refresh" content="0; url={{ fallback_redirect_url }}">
    <link rel="canonical" href="{{ fallback_redirect_url }}">
</head>
<body>
    <p><a href="{{ fallback_redirect_url }}">Click here to redirect</a></p>
</body>
</html>
